.aboutme_container {
    position: relative;
    left: 10em;
}

.imgOne {
    width: 250px;
    margin: 2em 0;
    border: 2px solid #222;
}

.icon {
    width: 200px;
    position: relative;
    left: 20em;
    border: 2px solid #222;
}

.textOne {
    margin: 0 20em;
    position: relative;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
}

.textTwo {
    margin-top: 12em;
    position: relative;
    right: 20em;
}

.textThree {
    margin: 0 20em;
    position: relative; 
    right: 20em;
}


.wyden {
    width: 260px;
    position: relative;
    right:18em;
    top: 3em;
    border: 2px solid #222;
}

.experience {
    margin: 0 20em;
    position: relative;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
}

.azure {
    width: 200px;
    position: relative;
    left: 20em;
    border: 2px solid #222;
}

.training {
    padding-bottom: 10em;
}