@media screen and (max-width: 1400px) {
  .home_container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home_container h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
  }
  
  .home_container p {
    font-size: 1em;
    margin-bottom: 1.5em;
    color: #7b7b7b;
    padding-left: 0.5em;
  }
  
  .home_container img {
    width: 350px;
    margin: 2em 0;
    border: solid;
  }
}

@media screen and (max-width: 900px) {
  .home_container {
    flex-direction: column;
    align-items: center;
    margin-right: 55em;
  }

  .home_container h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
  }

  .home_container p {
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    color: #7b7b7b;
    text-align: center;
  }

  .home_container img {
    width: 250px;
    border: solid;
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .home_container {
    flex-direction: column;
    align-items: center;
    margin-right: 55em;
  }

  .home_container h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
  }

  .home_container p {
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    color: #7b7b7b;
    text-align: center;
  }

  .home_container img {
    width: 250px;
    border: solid;
    margin-bottom: 1.5em;
  }
}


